.col-centered {
  float: none;
  margin: 0 auto;
}
.banner-container {
  width: 1200px;
  height: 400px;
  margin-bottom: 5px;
  background-image: url(./images/banner.jpg);
}
.name-place {
  color: white;
  padding-top: 120px;
}
.bD {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
}
.hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}
body {
    background-image: url("images/background.jpg");
    background-color: #cccccc;
}
#backgroundContainer {
  background-color: rgba(225, 225, 225, .85);
  width: 90%;
  margin: 0 auto;
  box-shadow: 20px 20px 10px rgba(0,0,0,0.10);
  padding: 40px;
}
